<h1>Add User</h1>

<form [formGroup]="addUser" (ngSubmit)="onSubmit()">
  <h5 *ngIf="added">Your person was successfully added to the database!</h5>
  <h5 *ngIf="added==false && submitted">Your person was not added to the database!</h5>
  <mat-form-field>
    First Name:
    <input matInput type="text" formControlName="firstName">
    <div *ngIf="submitted && addUser.controls.firstName.errors" class="error">
      <div *ngIf="addUser.controls.firstName.errors.required">First Name is Required!</div>
    </div>
  </mat-form-field>
  <br>
  <mat-form-field>
    Middle Initial:
    <input matInput type="text" formControlName="middleInitial">
    <div *ngIf="submitted && addUser.controls.middleInitial.errors" class="error">
      <div *ngIf="addUser.controls.middleInitial.errors.required">Middle Initial is Required!</div>
    </div>
    </mat-form-field>
    <br>
  <mat-form-field>
     Last Name:
    <input matInput type="text" formControlName="lastName">
    <div *ngIf="submitted && addUser.controls.lastName.errors" class="error">
      <div *ngIf="addUser.controls.lastName.errors.required">Last Name is Required!</div>
    </div>
  </mat-form-field>
  <br>
  <mat-form-field>
      House Number:
     <input matInput type="text" formControlName="number">
     <div *ngIf="submitted && addUser.controls.number.errors" class="error">
       <div *ngIf="addUser.controls.number.errors.required">House number is Required!</div>
     </div>
   </mat-form-field>
   <br>
   <mat-form-field>
      Street Name:
     <input matInput type="text" formControlName="name">
     <div *ngIf="submitted && addUser.controls.name.errors" class="error">
       <div *ngIf="addUser.controls.name.errors.required">Street Name is Required!</div>
     </div>
   </mat-form-field>
   <br>
   <mat-form-field>
      City:
     <input matInput type="text" formControlName="city">
     <div *ngIf="submitted && addUser.controls.city.errors" class="error">
       <div *ngIf="addUser.controls.city.errors.required">City is Required!</div>
     </div>
   </mat-form-field>
   <br>
   <mat-form-field>
      State:
     <input matInput type="text" formControlName="state">
     <div *ngIf="submitted && addUser.controls.state.errors" class="error">
       <div *ngIf="addUser.controls.state.errors.required">State is Required!</div>
     </div>
   </mat-form-field>
   <br>
   <mat-form-field>
      Zip Code:
     <input matInput type="text" formControlName="zip">
     <div *ngIf="submitted && addUser.controls.state.errors" class="error">
       <div *ngIf="addUser.controls.zip.errors.required">Zip Code is Required!</div>
     </div>
   </mat-form-field>
   <br>
   <mat-form-field>
      Occupation:
     <input matInput type="text" formControlName="occupation">
     <div *ngIf="submitted && addUser.controls.occupation.errors" class="error">
       <div *ngIf="addUser.controls.occupation.errors.required">Occupaiton is Required!</div>
     </div>
   </mat-form-field>
    <br>
  <button mat-raised-button color="primary" (click)="onSubmit()">Add User</button>
</form>